.memberPage {
  .centerBlock > .title {
    max-width: 800px;
    margin: 0.5em auto;
  }

  .apply {
    max-width: 800px;
    margin: 0 auto;

    .flexForm {
      margin: 0;
    }
  }

  .flexForm:not(.formBox) {
    .formCard {
      background: none;
      box-shadow: none;
      padding: 0;

      .formGrp {
        border: none;

        & + .formGrp {
          margin-top: 20px;
        }
      }

      .help {
        font-size: 0.813em;
        color: #888;
        padding: 0 0.5em;
      }

      .formContent {
        max-width: none;
        padding: 0px;
        overflow: visible;
        position: relative;

        .passwordEye {
          background-color: transparent;
        }

        img {
          position: absolute;
          right: 0;
          bottom: 5px;
        }

        label {
          // position: absolute;
          // left: 0;
          // margin: 0;
          // top: 50%;
          // transform: translateY(-50%);
          padding: 0;
          margin: 0;
        }


        input {
          width: 100%;
          margin: 0;
          background: none !important;
          background-color: transparent !important;
          border-radius: 0;
          border: none;
          padding: 0.5em 0em;
          border-bottom: 1px solid #ccc;

          &:-webkit-autofill,
          &:-webkit-autofill:hover,
          &:-webkit-autofill:focus,
          &:-webkit-autofill:active {
            -webkit-box-shadow: 0 0 0 1000px rgba(255, 255, 255, 0) inset;
            transition: background-color 5000s ease-in-out 0s;
          }

          &:focus {
            box-shadow: none;
            border-bottom: red 1px solid;

            // & ~ label {
            //   font-size: 13px;
            //   top: 0%;
            // }
          }

        }
      }

      .btnBox {
        display: flex;
        gap: 20px;

        button {
          display: block;
          background: none;
          border: none;
          padding: 10px 0;
          font-size: 16px;
          opacity: 0.6;
        }
      }
    }
  }

  .forget {
    background: none;
    border: none;
    font-size: 16px;
    color: #666;
  }

  .nBtn {
    display: block;
    color: #000;
    font-size: Rem(16);
    font-weight: 500;
    background: #fff;
    border-radius: 50px;
    text-align: center;
    padding: 10px 65px 10px 20px;
    position: relative;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease;
    isolation: isolate;
    height: 51px;

    @include screen('xsMobile') {
      margin: 0 auto !important;
      font-size: Rem(16);
      padding: 10px;
    }

    &::before {
      content: '';
      width: 38px;
      height: 38px;
      display: block;
      background: #1c234c;
      border-radius: 50px;
      position: absolute;
      right: 10px;
      top: 50%;
      transform: translateY(-50%);
      transition: all 0.3s ease;
      z-index: -1;

      @include screen('xsMobile') {
        width: 36px;
        height: 36px;
        right: 6px;
      }
    }

    &::after {
      content: '+';
      font-family: "Thasadith", sans-serif;
      font-size: Rem(34);
      line-height: 0;
      color: #fff;
      position: absolute;
      right: 20px;
      top: 23px;

      @include screen('xsMobile') {
        right: 15px;
        top: 21px;
      }
    }

    &:hover {
      color: #fff;

      &::before {
        width: 100%;
        right: 0;
        height: 100%;
      }
    }
  }

  .nBtn2 {
    display: block;
    color: #000;
    font-size: Rem(16);
    font-weight: 500;
    background: #fff;
    border-radius: 50px;
    text-align: center;
    padding: 10px 20px 10px 65px;
    position: relative;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease;
    isolation: isolate;
    height: 51px;

    @include screen('xsMobile') {
      margin: 0 auto !important;
      font-size: Rem(16);
      padding: 10px;
    }

    &::before {
      content: '';
      width: 38px;
      height: 38px;
      display: block;
      background: #979797;
      border-radius: 50px;
      position: absolute;
      left: 10px;
      top: 50%;
      transform: translateY(-50%);
      transition: all 0.3s ease;
      z-index: -1;

      @include screen('xsMobile') {
        width: 36px;
        height: 36px;
        left: 6px;
      }
    }

    &::after {
      content: '';
      font-size: Rem(34);
      line-height: 0;
      position: absolute;
      width: 15px;
      height: 2px;
      background: #fff;
      left: 22px;
      top: calc(50% - 1px);


      @include screen('xsMobile') {
        left: 15px;
        top: 21px;
      }
    }

    &:hover {
      color: #fff;

      &::before {
        width: 100%;
        left: 0;
        height: 100%;
      }
    }
  }

  .leftBlock + .centerBlock {

    & > .title {
      margin: 0.5em 0;
    }

    .topNotice {
      margin-bottom: 10px;

      span {
        color: $colorOrange;
      }
    }

    .formInline {
      margin-bottom: 10px;

    }

    .tableList {
      border-bottom: 2px solid #ccc;

      th {
        font-size: 16px;
        background: #666;
        color: #fff;
        font-weight: normal;

        &:last-child {
          width: 76px;
        }
      }

      button {
        margin: 0;
      }
    }
  }

  .formBox {
    margin: 0;

    .formCard {
      padding: 0;
      box-shadow: none;
    }
  }
}