.leftBlock {
  .nodeMenu {
    padding: 0;
  }

  .title {
    border-radius: 0.5rem 0.5rem 0 0;
    font-weight: 400;
    background: $colorPrimary;
    padding: 1rem 0.5rem;
    margin: 0;

    @include screen('tablet') {
      border-radius: 0.5rem 0 0 0;
    }
  }

  .accordion {
    background: #fff;

    ul {
      padding: 0;

      .nextLv > a {
        position: relative;

        &::after {
          content: '';
          border: 2px solid #1b224c;
          border-bottom: 0;
          border-left: 0;
          display: block;
          width: 8px;
          height: 8px;
          position: absolute;
          right: 20px;
          top: 50%;
          transform: rotate(45deg) translateY(-50%);
        }
      }

      li {
        margin-bottom: 0;
        padding-bottom: 0;

        a {
          font-size: Rem(18);
          display: block;
          padding: 15px 30px 15px 20px;
          color: #222;
          font-weight: normal;

          &.active,
          &:hover {
            background: #e8e8e8;
          }
        }

        ul {
          display: none;

          li {
            a {
              background: #f2f2f2;
              padding: 15px 30px 15px 32px;

              &.active,
              &:hover {
                background: #ccc;
              }
            }

            li {
              a {
                padding: 15px 30px 15px 48px;

                &.active,
                &:hover {
                  color: $colorLink;
                  background: none;
                }
              }
            }
          }
        }
      }
    }
  }
}