* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  background: #fff9f7;
  font-family: "Noto Sans TC", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;

  &.noscroll {
    position: static;
    width: 100%;
    height: 100%;
    overflow: hidden;
    overflow-y: hidden;
    margin: 0;
    padding: 0;
  }
}

.row {
  @include makeRow();

  & > div {
    box-sizing: border-box;
  }
}

// 最外圍預設為100%
.wrapper {
  width: 100%;
  max-width: 1280px;
  margin: 0px auto;
  position: relative;
  background: #ebeced;
  overflow: hidden;

  @include screen('mobile') {
    overflow: hidden;
    overflow-y: auto;
  }
}

// 整體共用container樣式，請注意首頁切版頁面的整齊
.container {
  margin: 0 auto;
  max-width: $containerMax; //請看_variable.scss
  position: relative;
  // @include containerFixed;
}

.main {
  position: relative;
  margin: 0 auto 5em;

  @include screen('mobile') {
    padding-top: 60px;
  }

  // 可先設定一個中央區塊最大寬，限制accessKey對齊
  h2 {
    line-height: 1.25em;
  }
}

////////////////////////////////////////////////////////////
.inkv {
  .container {
    padding: 0;
    max-width: none;
  }
}

// 為了與首頁區隔，請在內頁加上innerPage ClassName
.innerPage {
  margin-bottom: 0;
  padding-bottom: 40px;
  padding-top: 0 !important;
  position: relative;
  isolation: isolate;

  // &::before {
  //   content: '';
  //   background: #fff url('../images/inbg.jpg') bottom center no-repeat;
  //   position: absolute;
  //   inset: 0;
  //   opacity: 0.5;
  //   z-index: -1;
  // }

  & > .container {
    padding-top: 1em;
    @include gutter(); //gutter 代表左右要留白
    display: flex;

    @include screen('tablet') {
      padding-top: 1.5em;
    }
  }

  .centerBlock {
    flex: none;
    flex-basis: 100%;
    max-width: 100%;
  }

  .leftBlock {
    flex: none;
    flex-basis: 260px;
    max-width: 260px;
    margin-right: 40px;
    align-self: flex-start;
    position: sticky;
    top: 50px;

    &.hidden {
      & + .centerBlock {
        flex: none;
        flex-basis: 100%;
        max-width: 100%;
      }
    }

    & + .centerBlock {
      flex: auto;
      flex-basis: calc(100% - 300px);
      max-width: calc(100% - 300px);
    }

    @include screen('tablet') {
      display: none;

      & + .centerBlock {
        flex: none;
        flex-basis: 100%;
        max-width: 100%;
      }
    }
  }
}

.hidden {
  display: none;
}